extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Christian C

        //- Feel free to personalize the title below
        p Full Stack Software Developer


        .about-bio

          
          p  Software Developer equipped with coding, debugging, and project management abilities. I accomplish project goals consistently with elegant, scalable code. I Work great with team members under Agile and Scrum frameworks. Innovative Software Developer with 3 years of hands-on experience designing and testing applications. Well-versed in technology and a few coding languages, including javascript, java, C, c++, and python. Dedicated to developing creative solutions to meet business goals and requirements.


      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Java 
          li C 
          li Python 
          li Cloud Computing 
          li Linux 
          li Networking 
          li MongoDB 
          li SQL
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li 915-565-8886
          li cyrchristian27@gmail.com

        a.btn-link(href='www.linkedin.com/in/christian-c-490b3220b') LinkedIn
        a.btn-link(href='https://github.com/Ccyr01') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back